{% extends 'base.html.twig' %}

{% block header %}{% endblock %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {{parent()}}
    <main class="container">
        <h1 class="py-3">Inscription</h1>
        <section class="row">
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}
                <button type="submit" class="btn">S'inscrire</button>
            {{ form_end(registrationForm) }}
        </section>
    </main>
{% endblock %}
