{% extends 'base.html.twig' %}

{% block title %}Les Categories{% endblock %}

{% block body %}
    {{parent()}}
    <main class="container">
        <h1 class="my-4 d-flex justify-content-center align-items-center"><i class='bx bx-list-ul' ></i> Liste des Categories</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>
                        <a href="{{ path('category_show', {'id': category.id}) }}"><i class='bx bx-show-alt'></i></a>
                        <a href="{{ path('category_edit', {'id': category.id}) }}"><i class='bx bxs-pencil'></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun résultat</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('category_new') }}"><button class="btn btn-primary">Créer une catégorie</button></a>
        {# System de pagination #}
        <div class="d-flex justify-content-end">
            {{ knp_pagination_render(categories) }}
        </div>
    </main>
{% endblock %}
